parameters:
  level: 5
  paths:
    - src
  excludePaths:
    - tests
    - vendor
  ignoreErrors:
    - '#Function .* not found#'
    - '#Right side of && is always false#'
    - '#Negated boolean expression is always true#'
    - '#Result of \|\| is always true#'
    - '#Property .* is never read, only written#'
    - '#Method .* has invalid return type WP_Query#'
    - '#Class WP_Query not found#'
  bootstrapFiles:
    - tests/bootstrap.php
  parallel:
    processTimeout: 300.0
  tmpDir: build/phpstan
