parameters:
  level: 8
  paths:
    - src
  excludePaths:
    - tests
    - vendor
  ignoreErrors:
    - '#Call to an undefined method#'
    - '#WordPress functions#'
  bootstrapFiles:
    - tests/bootstrap.php
