<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  bootstrap="tests/bootstrap.php"
  stopOnFailure="false"
  colors="true"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
>
  <!-- What to measure (the filter) -->
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <directory suffix=".php">vendor</directory>
      <directory suffix=".php">tests</directory>
      <directory suffix=".twig">templates</directory>
    </exclude>
  </source>

  <!-- How to report coverage -->
  <coverage includeUncoveredFiles="true" pathCoverage="false">
    <report>
      <html outputDirectory="build/coverage"/>
      <text outputFile="php://stdout" showUncoveredFiles="false"/>
    </report>
  </coverage>

  <testsuites>
    <testsuite name="Unit">
      <directory>tests/Unit</directory>
    </testsuite>
    <testsuite name="Integration">
      <directory>tests/Integration</directory>
    </testsuite>
  </testsuites>


  <extensions>
    <bootstrap class="DG\BypassFinals\PHPUnitExtension">
      <parameter name="bypassFinal" value="true"/>
      <parameter name="bypassReadOnly" value="false"/>
    </bootstrap>
  </extensions>

  <php>
    <env name="MYSQL_HOST" value="127.0.0.1"/>
    <env name="MYSQL_PORT" value="3307"/>
    <env name="MYSQL_DATABASE" value="minisite_test"/>
    <env name="MYSQL_USER" value="minisite"/>
    <env name="MYSQL_PASSWORD" value="minisite"/>
  </php>
</phpunit>